{
    "connection": {
        "host": "server-host",
        "queryport": 10011,
        "serverport": 9987,
        "nickname": "TS BOT",
        "protocol": "RAW",
        "username": "bot",
        "password": "password"
    },
    "crawler": {
        "interval": 300,
        "zones": [
            {
                "name": "regular",
                "spacerAsSeparator": false,
                "start": 10,
                "end": 15,
                "timeEmpty": 3600
            },
            {
                "name": "vip",
                "spacerAsSeparator": true,
                "start": 20,
                "end": 30,
                "timeEmpty": 7200
            }
        ]
    }
}